<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置緩存管理器 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:config/ehcache.xml" />
	</bean>

	<!-- 配置进行授权和认证的Realm -->
	<bean id="shiroReaml" class="com.ztx.world.common.shiro.ShiroReaml"></bean>

	<!-- 配置Shiro的SecurityManager. -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="cacheManager" ref="cacheManager" />
		<property name="realm" ref="shiroReaml" />
	</bean>

	<!-- 配置Bean后置处理器. -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!-- 配置 ShiroFilter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/base/user/tologin" />
		<property name="successUrl" value="/index" />
		<property name="unauthorizedUrl" value="/base/user/tologin" />
		<property name="filterChainDefinitions">
			<value>
				/resource/** = anon
				/demo/** = anon
				/base/user/tologin = anon
				/base/user/login = anon
				/base/user/logout = anon
                /** = authc
			</value>
		</property>
	</bean>

</beans>