<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="redisManager" class="com.ztx.world.common.redis.RedisManager"></bean>
    
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"></bean>
    
    <bean id="sessionDAO" class="com.ztx.world.common.shiro.RedisSessionDAO">
        <property name="sessionIdGenerator" ref="sessionIdGenerator"></property>
    </bean>
    
    <bean id="sessionManager" class="com.ztx.world.common.shiro.CustomSessionManager">
    	<!-- 设置超时时间 -->
        <property name="globalSessionTimeout" value="${shiro.globalSessionTimeout}"></property>
        <property name="deleteInvalidSessions" value="true"></property>
        <property name="sessionDAO" ref="sessionDAO"></property>
        <property name="sessionIdCookie" ref="simpleCookie" />
    </bean>
    
    <bean id="simpleCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg name="name" value="custom.session" />
        <property name="path" value="/" />
        <property name="httpOnly" value="true"/>
    </bean>
    
	<bean id="shiroReaml" class="com.ztx.world.common.shiro.ShiroReaml"></bean>
	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="sessionManager" ref="sessionManager"></property>
        <property name="realm" ref="shiroReaml"></property>
    </bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

    <bean id="kickoutControlFilter" class="com.ztx.world.common.shiro.KickoutControlFilter"></bean>

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/base/user/tologin" />
		<property name="successUrl" value="/index" />
		<property name="unauthorizedUrl" value="/base/user/tologin" />
		<property name="filters">
			<map>
				<entry key="kickout" value-ref="kickoutControlFilter"/>
			</map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/resource/** = anon
				/demo/** = anon
				/base/user/tologin = anon
				/base/user/login = anon
				/base/user/logout = anon
                /** = authc
			</value>
		</property>
	</bean>

</beans>