<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置緩存管理器 -->
	<bean id="redisCacheManager" class="org.crazycake.shiro.RedisCacheManager">
		<property name="keyPrefix" value="shiro_redis_session:"/>
        <property name="redisManager" ref="redisClient"/>
	</bean>

	<!-- 配置进行授权和认证的Realm -->
	<bean id="shiroReaml" class="com.ztx.world.common.shiro.ShiroReaml">
		<property name="cacheManager" ref="redisCacheManager"/>
	</bean>
	
	<bean id="redisSessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO"></bean>
	
	<bean id="simpleCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg name="name" value="custom.session"/>
        <property name="path" value="/"/>
    </bean>
    
    <!--sessionManager-->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="redisSessionDAO"/>
        <property name="sessionIdCookie" ref="simpleCookie"/>
    </bean>

	<!-- 配置Shiro的SecurityManager. -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="cacheManager" ref="redisCacheManager" />
		<property name="realm" ref="shiroReaml" />
		<property name="sessionManager" ref="sessionManager"/>
	</bean>

	<!-- Shiro生命周期处理器. -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

    <bean id="kickoutControlFilter" class="com.ztx.world.common.shiro.KickoutControlFilter"></bean>

	<!-- 配置 ShiroFilter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/base/user/tologin" />
		<property name="successUrl" value="/index" />
		<property name="unauthorizedUrl" value="/base/user/tologin" />
		<property name="filters">
			<map>
				<entry key="kickout" value-ref="kickoutControlFilter"/>
			</map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/resource/** = anon
				/demo/** = anon
				/base/user/tologin = anon
				/base/user/login = anon
				/base/user/logout = anon
                /** = authc
			</value>
		</property>
	</bean>

</beans>