<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztx.world.base.mapper.ext.ConfigExtMapper">

	<select id="findConfigTypes" resultType="java.lang.String">
		select distinct config_type from base_config where status = 1 and use_status = 1
	</select>
	
</mapper>