<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztx.world.base.mapper.DepartmentMapper" >

    <resultMap id="BaseResultMap" type="com.ztx.world.base.entity.Department" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
        <result column="dept_code" property="deptCode" jdbcType="VARCHAR" />
        <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, status, create_time, update_time, create_user_id, dept_code, dept_name, description
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ztx.world.base.entity.DepartmentExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from base_department
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from base_department
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from base_department
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.ztx.world.base.entity.DepartmentExample" >
        delete from base_department
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.ztx.world.base.entity.Department" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into base_department (id, status, create_time, 
            update_time, create_user_id, dept_code, 
            dept_name, description)
        values (#{id,jdbcType=BIGINT}, #{status,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
            #{updateTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, #{deptCode,jdbcType=VARCHAR}, 
            #{deptName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.ztx.world.base.entity.Department" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into base_department
        <trim prefix="(" suffix=")" suffixOverrides="," >
            id,
            <if test="status != null" >
                status,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="createUserId != null" >
                create_user_id,
            </if>
            <if test="deptCode != null" >
                dept_code,
            </if>
            <if test="deptName != null" >
                dept_name,
            </if>
            <if test="description != null" >
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{id,jdbcType=BIGINT},
            <if test="status != null" >
                #{status,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="deptCode != null" >
                #{deptCode,jdbcType=VARCHAR},
            </if>
            <if test="deptName != null" >
                #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.ztx.world.base.entity.DepartmentExample" resultType="java.lang.Integer" >
        select count(*) from base_department
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update base_department
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=BIGINT},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null" >
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createUserId != null" >
                create_user_id = #{record.createUserId,jdbcType=BIGINT},
            </if>
            <if test="record.deptCode != null" >
                dept_code = #{record.deptCode,jdbcType=VARCHAR},
            </if>
            <if test="record.deptName != null" >
                dept_name = #{record.deptName,jdbcType=VARCHAR},
            </if>
            <if test="record.description != null" >
                description = #{record.description,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update base_department
        set id = #{record.id,jdbcType=BIGINT},
            status = #{record.status,jdbcType=BIGINT},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            create_user_id = #{record.createUserId,jdbcType=BIGINT},
            dept_code = #{record.deptCode,jdbcType=VARCHAR},
            dept_name = #{record.deptName,jdbcType=VARCHAR},
            description = #{record.description,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.ztx.world.base.entity.Department" >
        update base_department
        <set >
            <if test="status != null" >
                status = #{status,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                create_user_id = #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="deptCode != null" >
                dept_code = #{deptCode,jdbcType=VARCHAR},
            </if>
            <if test="deptName != null" >
                dept_name = #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ztx.world.base.entity.Department" >
        update base_department
        set status = #{status,jdbcType=BIGINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            create_user_id = #{createUserId,jdbcType=BIGINT},
            dept_code = #{deptCode,jdbcType=VARCHAR},
            dept_name = #{deptName,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>