<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztx.world.base.mapper.LogMapper" >

    <resultMap id="BaseResultMap" type="com.ztx.world.base.entity.Log" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="BIGINT" />
        <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
        <result column="operate_user_id" property="operateUserId" jdbcType="BIGINT" />
        <result column="operate_type" property="operateType" jdbcType="INTEGER" />
        <result column="model_type" property="modelType" jdbcType="INTEGER" />
        <result column="operate_ip" property="operateIp" jdbcType="VARCHAR" />
        <result column="operate_mac" property="operateMac" jdbcType="VARCHAR" />
        <result column="operate_object" property="operateObject" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, status, operate_time, operate_user_id, operate_type, model_type, operate_ip, 
        operate_mac, operate_object, description
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ztx.world.base.entity.LogExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from base_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from base_log
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from base_log
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.ztx.world.base.entity.LogExample" >
        delete from base_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.ztx.world.base.entity.Log" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into base_log (id, status, operate_time, 
            operate_user_id, operate_type, model_type, 
            operate_ip, operate_mac, operate_object, 
            description)
        values (#{id,jdbcType=BIGINT}, #{status,jdbcType=BIGINT}, #{operateTime,jdbcType=TIMESTAMP}, 
            #{operateUserId,jdbcType=BIGINT}, #{operateType,jdbcType=INTEGER}, #{modelType,jdbcType=INTEGER}, 
            #{operateIp,jdbcType=VARCHAR}, #{operateMac,jdbcType=VARCHAR}, #{operateObject,jdbcType=VARCHAR}, 
            #{description,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.ztx.world.base.entity.Log" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into base_log
        <trim prefix="(" suffix=")" suffixOverrides="," >
            id,
            <if test="status != null" >
                status,
            </if>
            <if test="operateTime != null" >
                operate_time,
            </if>
            <if test="operateUserId != null" >
                operate_user_id,
            </if>
            <if test="operateType != null" >
                operate_type,
            </if>
            <if test="modelType != null" >
                model_type,
            </if>
            <if test="operateIp != null" >
                operate_ip,
            </if>
            <if test="operateMac != null" >
                operate_mac,
            </if>
            <if test="operateObject != null" >
                operate_object,
            </if>
            <if test="description != null" >
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{id,jdbcType=BIGINT},
            <if test="status != null" >
                #{status,jdbcType=BIGINT},
            </if>
            <if test="operateTime != null" >
                #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operateUserId != null" >
                #{operateUserId,jdbcType=BIGINT},
            </if>
            <if test="operateType != null" >
                #{operateType,jdbcType=INTEGER},
            </if>
            <if test="modelType != null" >
                #{modelType,jdbcType=INTEGER},
            </if>
            <if test="operateIp != null" >
                #{operateIp,jdbcType=VARCHAR},
            </if>
            <if test="operateMac != null" >
                #{operateMac,jdbcType=VARCHAR},
            </if>
            <if test="operateObject != null" >
                #{operateObject,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.ztx.world.base.entity.LogExample" resultType="java.lang.Integer" >
        select count(*) from base_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update base_log
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=BIGINT},
            </if>
            <if test="record.operateTime != null" >
                operate_time = #{record.operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.operateUserId != null" >
                operate_user_id = #{record.operateUserId,jdbcType=BIGINT},
            </if>
            <if test="record.operateType != null" >
                operate_type = #{record.operateType,jdbcType=INTEGER},
            </if>
            <if test="record.modelType != null" >
                model_type = #{record.modelType,jdbcType=INTEGER},
            </if>
            <if test="record.operateIp != null" >
                operate_ip = #{record.operateIp,jdbcType=VARCHAR},
            </if>
            <if test="record.operateMac != null" >
                operate_mac = #{record.operateMac,jdbcType=VARCHAR},
            </if>
            <if test="record.operateObject != null" >
                operate_object = #{record.operateObject,jdbcType=VARCHAR},
            </if>
            <if test="record.description != null" >
                description = #{record.description,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update base_log
        set id = #{record.id,jdbcType=BIGINT},
            status = #{record.status,jdbcType=BIGINT},
            operate_time = #{record.operateTime,jdbcType=TIMESTAMP},
            operate_user_id = #{record.operateUserId,jdbcType=BIGINT},
            operate_type = #{record.operateType,jdbcType=INTEGER},
            model_type = #{record.modelType,jdbcType=INTEGER},
            operate_ip = #{record.operateIp,jdbcType=VARCHAR},
            operate_mac = #{record.operateMac,jdbcType=VARCHAR},
            operate_object = #{record.operateObject,jdbcType=VARCHAR},
            description = #{record.description,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.ztx.world.base.entity.Log" >
        update base_log
        <set >
            <if test="status != null" >
                status = #{status,jdbcType=BIGINT},
            </if>
            <if test="operateTime != null" >
                operate_time = #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operateUserId != null" >
                operate_user_id = #{operateUserId,jdbcType=BIGINT},
            </if>
            <if test="operateType != null" >
                operate_type = #{operateType,jdbcType=INTEGER},
            </if>
            <if test="modelType != null" >
                model_type = #{modelType,jdbcType=INTEGER},
            </if>
            <if test="operateIp != null" >
                operate_ip = #{operateIp,jdbcType=VARCHAR},
            </if>
            <if test="operateMac != null" >
                operate_mac = #{operateMac,jdbcType=VARCHAR},
            </if>
            <if test="operateObject != null" >
                operate_object = #{operateObject,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ztx.world.base.entity.Log" >
        update base_log
        set status = #{status,jdbcType=BIGINT},
            operate_time = #{operateTime,jdbcType=TIMESTAMP},
            operate_user_id = #{operateUserId,jdbcType=BIGINT},
            operate_type = #{operateType,jdbcType=INTEGER},
            model_type = #{modelType,jdbcType=INTEGER},
            operate_ip = #{operateIp,jdbcType=VARCHAR},
            operate_mac = #{operateMac,jdbcType=VARCHAR},
            operate_object = #{operateObject,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>